root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
insert_final_newline = true
ktlint_code_style = android_studio
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_property-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_kdoc = disabled
