# translation artifacts
launchpad-*.tar.gz

# local config files
local.properties

# working files
*~

# OS X sucks
.DS_Store

# SublimeText working files
*.sublime-project
*.sublime-workspace

# Android Studio
.gradle/
build/

# Android gradle native build
\.externalNativeBuild/
.idea/
**/.cxx

# Jenkinsfile-runner
\.jenkinsfile-runner/
