<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.connectbot"
	android:versionName="1.7.0"
	android:versionCode="314"
	android:installLocation="auto">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:description="@string/app_desc"
		android:allowBackup="true"
		android:backupAgent=".service.BackupAgent"
		android:killAfterRestore="true">

		<activity android:name=".HostListActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".PubkeyListActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".GeneratePubkeyActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".HostEditorActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".PortForwardListActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".SettingsActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".WizardActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".HelpActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".HelpTopicActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".ColorsActivity" android:configChanges="keyboardHidden|orientation" />

		<service android:name="org.connectbot.service.TerminalManager"
			android:configChanges="keyboardHidden|orientation"
			android:description="@string/service_desc" />

		<activity android:name=".ConsoleActivity" android:configChanges="keyboardHidden|orientation"
			android:theme="@style/NoTitle" android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="ssh" />
				<data android:scheme="telnet" />
				<data android:scheme="local" />
				<!-- format:  ssh://user@host:port/#nickname  -->
				<!-- format:  telnet://host:port/#nickname  -->
				<!-- format:  local://  -->
			</intent-filter>
		</activity>

	</application>

	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<supports-screens />
</manifest>
